name: e2e-tests

on:
  push:
    tags:
      - 'tetrate-test-*'

jobs:

  create-test-images:
    strategy:
      matrix:
        os: [ ubuntu-latest ]
    name: create-test-images
    runs-on: ${{ matrix.os }}
    env:
      HUB: hellozee-docker-istio-test.bintray.io

    steps:
      - name: checkout
        uses: actions/checkout@v2

      - name: Extract tag name
        run: echo ::set-output name=tag::${GITHUB_REF#refs/tags/}
        id: extract_tag

      - name: build and push images
        env:
          TAG: ${{ steps.extract_tag.output.tag }}
        run: |
          echo ${{ steps.extract_tag.output.tag }}

  eks-e2e-test:
    strategy:
      matrix:
        os: [ ubuntu-latest ]

    name: eks-e2e-test
    runs-on: ${{ matrix.os }}
    steps:
      - name: checkout
        uses: actions/checkout@v2

      - name: set up go 1.15
        uses: actions/setup-go@v1
        with:
          go-version: 1.15

      - name: Extract tag name
        shell: bash
        run: echo "##[set-output name=tag;]$(echo ${GITHUB_REF#refs/tags/})"
        id: extract_tag

      - name: eks-cluster-create
        env:
          TAG: ${{ steps.extract_tag.output.tag }}
        run: |
          echo ${{ steps.extract_tag.output.tag }}
  
  create-new-tag:
    name: create-new-tag
    runs-on: ubuntu-latest
    needs: [eks-e2e-test]
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Extract tag name
        shell: bash
        run: echo "##[set-output name=tag;]$(echo ${GITHUB_REF#refs/tags/tetrate-test-})"
        id: extract_tag

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} 
        with:
          tag_name: ${{ steps.extract_tag.output.tag }}-tetrate-v0
          release_name: Tetrate Istio 
          draft: false
          prerelease: false

  make_release:
    strategy:
      matrix:
        os: [ ubuntu-latest ]
    
    needs: [create-new-tag]

    name: release-builder-run
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout tetrate branch
        uses: actions/checkout@v2

      - name: Extract tag name
        shell: bash
        run: echo "##[set-output name=tag;]$(echo ${GITHUB_REF#refs/tags/tetrate-test-}-tetrate-v0)"
        id: extract_tag

      - name: run release builder
        env:
          TAG: ${{ steps.extract_tag.output.tag }}

        run: echo $TAG