name: e2e-tests

on:
  push:
    tags:
      - '*tetrate*'

jobs:

  create-test-images:
    strategy:
      matrix:
        os: [ ubuntu-latest ]
    name: create-test-images
    runs-on: ${{ matrix.os }}
    env:
      HUB: hellozee-docker-istio-test.bintray.io

    steps:
      - name: checkout
        uses: actions/checkout@v2

      - name: build and push images

        run: |
          TAG=$(git describe --tags)
          echo $TAG

  eks-e2e-test:
    strategy:
      matrix:
        os: [ ubuntu-latest ]

    name: eks-e2e-test
    runs-on: ${{ matrix.os }}
    steps:
      - name: checkout
        uses: actions/checkout@v2

      - name: set up go 1.15
        uses: actions/setup-go@v1
        with:
          go-version: 1.15

      - name: eks-cluster-create
        run: |
          TAG=$(git describe --tags)
          echo $TAG
  
  create-new-tag:
    name: create-new-tag
    runs-on: ubuntu-latest
    needs: [eks-e2e-test]
    if: ${{ !contains(github.ref, 'tetrate-v') }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Get the tag
        id: get_tag
        run: echo ::set-output name=TAG::${GITHUB_REF/refs\/tags\/tetrate-test-/}
        shell: bash

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} 
        with:
          tag_name: ${{ steps.get_tag.outputs.TAG }}-tetrate-v0
          release_name: Tetrate Istio 
          draft: false
          prerelease: false

  make_release:
    strategy:
      matrix:
        os: [ ubuntu-latest ]
    
    needs: [create-new-tag]

    name: release-builder-run
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout tetrate branch
        uses: actions/checkout@v2

      - name: run release builder

        run: |
          TAG=$(git describe --tags)
          echo $TAG