name: fail test

on:
  workflow_dispatch:

env:
  TEST: yes

jobs:
  testing_failure:
    runs-on: ubuntu-latest
    steps:
      - run: echo $TEST
      - run: echo $TEXT
        env:
          TEXT: ${{env.TEST}}

  testing_again:
    env:
      TEST: this.is.it
      
    steps:
      - run: echo $TEST
      - run: echo $TEXT
        env:
          TEXT: ${{env.TEST}}